.Statusbar--statusbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #6eccaf;
  height: 100vh;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  padding: 0.5rem 1rem;
  color: aliceblue;
}

.Statusbar--statusbar-container .statusbar-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

.Statusbar--statusbar-container .statusbar-menu li {
  margin: 0.5rem 0;
  padding: 3px;
}

.Statusbar--statusbar-container .statusbar-menu li a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: azure;
}

.Statusbar--statusbar-container .statusbar-menu li a .Link-lbl {
  margin-left: 0.5rem;
}

.Statusbar--statusbar-container .statusbar-menu li a:hover {
  color: #323232;
}

.Statusbar--statusbar-container .statusbar-menu li label:hover {
  cursor: pointer;
}

.Statusbar--statusbar-container .statusbar-menu li a:active {
  color: #005cbf;
}

.Statusbar--statusbar-container .statusbar-menu li a:focus {
  outline: none;
  box-shadow: none;
}

.Statusbar--statusbar-container .user-picture {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}

.Statusbar--statusbar-container .statusbar-menu li:hover {
  background-color: rgb(192, 254, 254);
  border-radius: 30px;
  cursor: pointer;
}

.Statusbar--statusbar-container .statusbar-menu li:first-child:hover {
  background-color: #6eccaf;
}
