.RegisterationForm--form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.RegisterationForm--form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.RegisterationForm--form-container label {
  margin: 10px 0 5px 0;
  font-weight: bold;
}

.RegisterationForm--form-container input[type="text"],
.RegisterationForm--form-container input[type="email"],
.RegisterationForm--form-container input[type="number"] {
  width: 300px;
  height: 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 16px;
}
