.AllCampaigns--my-cards {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AllCampaigns--my-cards .my-card {
  height: 500px;
  width: 400px;
}

.AllCampaigns--my-cards img {
  height: 280px;
  width: 100%;
}

.AllCampaigns--my-cards button {
}

.AllCampaigns--my-cards .complete-png {
  position: absolute;
  bottom: 5px;
  right: 5px;
  height: 90px;
  width: 160px;
}

.AllCampaigns--my-cards .btn-container {
  position: absolute;
  bottom: 10px;
  display: flex;
  gap: 5px;
}
