.CampaignPage--container {
  width: 80%;
  text-align: center;
}

.CampaignPage--container .card {
  width: 100%;
  display: flex;
  align-items: center;
}

.CampaignPage--container .card-img-top {
  width: 500px;
}

.CampaignPage--container .btn-container button {
  margin: 5px;
}

.CampaignPage--container .grave-gif {
  position: absolute;
  bottom: 10%;
  left: 30%;
  border-radius: 1000px;
  height: 400px;
}
